
{% extends "base.html" %}

{% block title %}Hantera Användare{% endblock %}

{% block content %}

<meta charset="UTF-8">
<title>Användare</title>


<h1>Användare</h1>

{% if message %}
<p class="message-success">{{ message }}</p>
{% endif %}

{% if error %}
<p class="message-error">{{ error }}</p>  
{% endif %}

    <!-- skapa users -->
    <h2>Skapa användare</h2>

    <form method="post" action="/ui/users">
        <input type="text" name="name" placeholder="Namn">
        <button type="submit" class="btn">Skapa</button>
    </form>

    <hr>

    <!-- lista users -->
    <h2>Befintliga användare</h2>

    <table class="table">
        <tr>
            <th>ID</th>
            <th>Namn</th>
            <th>Åtgärd</th>
        </tr>

        {% for u in users %}
        <tr>
            <td>{{ u.id }}</td>
            <td>{{ u.name }}</td>
            <td>
                <form method="post" action="/ui/users/{{ u.id }}/delete">
                    <button type="submit" class="btn btn-danger" 
					onclick="return confirm('Ta bort användaren {{ u.name }}?');">
                        Ta bort
                    </button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
<p><a <p><a href="/ui" class="btn">Tillbaka</a></p>

{% endblock %}
